.app-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 30px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.card {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

#modal {
  position: relative;
  z-index: 999;
}

.modal-wrapper {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.toast {
  position: fixed;
  right: 20px;
  top: 20px;
  color: #fff;
  padding: 15px;
  z-index: 1000;
}

.contact-form-footer {
  text-align: right;
}

.contact-form-footer .button-primary {
  margin-left: 10px;
}

.contact-card .button-danger {
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.image-container {
  width: 100%;
  position: relative;
  background-color: #08ffc8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-button-group {
  display: flex;
  justify-content: space-between;
}

.text-light {
  font-weight: 300;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
